.library-container{
     border: 2px solid rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
}

.book-card{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
}